.App{
  text-align: center;
}


.searchResults{
  display: flex;
  justify-content: space-evenly;
}

.resultsContainer{
  display: flex;
  flex-direction: column;
}

.box{
  box-shadow:0px 0px 0px 4px #ccc;
}

